{% load static %}
<div class="about-us-elite">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">About Us</h3>
                    <h2 class="text-effect" data-cursor="-opaque">Thoughtfully designed workspace equipped with
                        everything you need to stay productive comfortable & inspired every day</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- About Us Items List Start -->
                <div class="about-us-items-list-elite">
                    <!-- About Us Item Start -->
                    <div class="about-us-item-1-elite wow fadeInUp">
                        <!-- About Us Item Image Start -->
                        <div class="about-us-item-image-elite">
                            <figure class="image-anime">
                                <img src="{% static 'images/about-us-item-image-elite.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- About Us Item Image End -->

                        <!-- About Us Item tag Start -->
                        <div class="about-us-item-tag-elite">
                            <p>Collaboration</p>
                        </div>
                        <!-- About Us Item Tag End -->

                        <!-- About Us Item Body Start -->
                        <div class="about-us-item-body-elite">
                            <p>An improved work-life balance after joining our community.</p>
                            <h2><span class="counter">98</span>%</h2>
                        </div>
                        <!-- About Us Item Body End -->
                    </div>
                    <!-- About Us Item End -->

                    <!-- About Us Item Start -->
                    <div class="about-us-item-2-elite">
                        <!-- About Progess Box Start -->
                        <div class="about-progess-box-elite wow fadeInUp" data-wow-delay="0.2s">
                            <!-- About Progess Content Start -->
                            <div class="about-progess-content-elite">
                                <p>Track your journey from the first desk you book to the milestones you achieve.</p>
                            </div>
                            <!-- About Progess Content End -->

                            <!-- Skills Progress Bar Start -->
                            <div class="skills-progress-bar">
                                <!-- Skill Item Start -->
                                <div class="skillbar" data-percent="80%">
                                    <div class="skill-progress">
                                        <div class="count-bar"></div>
                                    </div>
                                    <div class="skill-data">
                                        <div class="skill-title">Progress</div>
                                        <div class="skill-no">80%</div>
                                    </div>
                                </div>
                                <!-- Skill Item End -->
                            </div>
                            <!-- Skills Progress Bar End -->
                        </div>
                        <!-- About Progess Box End -->

                        <!-- About Testimonial Box Start -->
                        <div class="about-testimonial-box-elite wow fadeInUp" data-wow-delay="0.4s">
                            <div class="about-testimonial-quote-elite">
                                <img src="{% static 'images/about-testimonial-quote-elite.svg' %}" alt="">
                            </div>
                            <div class="about-testimonial-content-elite">
                                <h3>The atmosphere is professional yet warm, and I've built connections with people I'd
                                    never have met otherwise.</h3>
                            </div>
                            <div class="about-testimonial-author-elite">
                                <div class="about-testimonial-author-content-elite">
                                    <h3>Dianne Russell</h3>
                                    <p>Freelancer</p>
                                </div>
                                <div class="satisfy-client-images-elite">
                                    <div class="satisfy-client-image-elite">
                                        <figure class="image-anime">
                                            <img src="{% static 'images/author-1.jpg' %}" alt="">
                                        </figure>
                                    </div>
                                    <div class="satisfy-client-image-elite">
                                        <figure class="image-anime">
                                            <img src="{% static 'images/author-2.jpg' %}" alt="">
                                        </figure>
                                    </div>
                                    <div class="satisfy-client-image-elite">
                                        <figure class="image-anime">
                                            <img src="{% static 'images/author-3.jpg' %}" alt="">
                                        </figure>
                                    </div>
                                    <div class="satisfy-client-image-elite">
                                        <figure class="image-anime">
                                            <img src="{% static 'images/author-4.jpg' %}" alt="">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- About Testimonial Box End -->
                    </div>
                    <!-- About Us Item End -->

                    <!-- About Us Item Start -->
                    <div class="about-us-item-3-elite wow fadeInUp" data-wow-delay="0.6s">
                        <!-- About Contact Header Start -->
                        <div class="about-contact-header-elite">
                            <h3>Contact Us Today!</h3>
                            <p>Find clear answers to the most questions. Find clear answers to the most questions.</p>
                        </div>
                        <!-- About Contact Header End -->

                        <!-- About Contact Body Start -->
                        <div class="about-contact-body-elite">
                            <div class="about-contact-item-elite">
                                <div class="icon-box">
                                    <img src="{% static 'images/icon-phone-primary.svg' %}" alt="">
                                </div>
                                <div class="about-contact-item-content">
                                    <h3>Phone Number</h3>
                                    <p><a href="tel:+123456789">+(123) 456-789</a></p>
                                </div>
                            </div>
                            <div class="about-contact-item-elite">
                                <div class="icon-box">
                                    <img src="{% static 'images/icon-mail-primary.svg' %}" alt="">
                                </div>
                                <div class="about-contact-item-content">
                                    <h3>Email Address</h3>
                                    <p><a href="mailto:info@domainname.com">info@domainname.com</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- About Contact Body End -->

                        <!-- About Contact Button Start -->
                        <div class="about-contact-btn-elite">
                            <a href="{% url 'contact' %}" class="btn-default-elite">contact us</a>
                        </div>
                        <!-- About Contact Button End -->
                    </div>
                    <!-- About Us Item End -->
                </div>
                <!-- About Us Items List End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->