{% load static %}
<div class="what-we-do-silver">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <!-- What Do Image Box Start -->
                <div class="what-do-image-box-silver">
                    <!-- What Do Image Item 1 Start -->
                    <div class="what-do-image-item-1-silver">
                        <!-- What Do Client Box Start -->
                        <div class="what-do-client-box-silver">
                            <!-- What Do Client Content Start -->
                            <div class="what-do-client-content-silver">
                                <h2>Messaging Pillars</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius, odio eget porttitor vehicula, enim.</p>
                            </div>
                            <!-- What Do Client Content End -->
                        </div>
                        <!-- What Do Client Box En -->

                        <!-- What Do Image 1 Start -->
                        <div class="what-do-image-1-silver">
                            <h2>Proof Points</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius, odio eget.</p>
                        </div>
                        <!-- What Do Image 1 End -->
                    </div>
                    <!-- What Do Image Item 1 End -->

                    <!-- What We Image Item 2 Start -->
                    <div class="what-do-image-item-2-silver">
                        <div class="what-do-image-2-silver">
                            <figure>
                                <img src="{% static 'images/VP_MarketingPlan_Block3_1.png' %}" alt="Decorative image"  loading="lazy">
                            </figure>
                        </div>
                    </div>
                    <!-- What We Image Item 2 End -->
                </div>
                <!-- What Do Image Box End -->
            </div>

            <div class="col-xl-6">
                <!-- What We Content Start -->
                <div class="what-we-content-silver">
                    {% include 'partials/sitewide/section-title.html' with subtitle="Actionable Planning" title="We create Great Narratives" paragraph="A great strategy is useless if it gathers dust. At Venture Planner, we move beyond static documents to create dynamic, step-by-step roadmaps. We not only establish 'what' needs to be done, we establish the 'who' and the 'how'." paragraph_delay="0.2s" %}

                    <!-- What We List Start -->
                    <div class="what-we-list-silver wow fadeInUp" data-wow-delay="0.4s">
                        <ul>
                            <li>Build step-by-step action plans for every campaign</li>
                            <li>Assign tasks to individuals, teams, or external agencies</li>
                            <li>Develop living plans that adapt based on performance</li>
                            <li>Provide ready-to-use creatives, ad scripts, and storyboards</li>
                        </ul>
                    </div>
                    <!-- What We List End -->

                    <!-- What We Button Start -->
                    <div class="what-we-btn-silver wow fadeInUp" data-wow-delay="0.6s">
                        <a href="{% url 'contact'  %}"  class="btn-default-silver">Get Started</a>
                    </div>
                    <!-- What We Button End -->
                </div>
                <!-- What We Content End -->
            </div>
        </div>
    </div>
</div>
