{% load static %}
<div class="our-blog">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-xl-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">Latest Blogs</h3>
                    <h2 class="text-effect" data-cursor="-opaque">Read, learn, and grow with our knowledge hub</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-xl-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                    <p>Get the knowledge to match your ambition. Our blog features expert analysis on everything from
                        crafting winning marketing campaigns and forecasting your finances to high-level business
                        strategy and the latest on AI-driven planning.</p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

        <div class="row">
            <!-- Post Item List Start -->
            <div class="post-item-list">
                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="{% url 'blog-single' %}" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="{% static 'images/post-1.jpg' %}" alt="">
                            </figure>
                        </a>
                        <div class="post-item-tags">
                            <a href="{% url 'blog-single' %}">WorkSmart</a>
                        </div>
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a href="{% url 'blog-single' %}">5 Ways to Maximize Productivity in a Co-Working Space</a>
                            </h2>
                        </div>
                        <!-- Post Item Content End -->

                        <!-- Post Item Readmore Button Start-->
                        <div class="post-item-btn">
                            <a href="{% url 'blog-single' %}" class="readmore-btn">read more</a>
                        </div>
                        <!-- Post Item Readmore Button End-->
                    </div>
                    <!-- Post Item Body End -->
                </div>
                <!-- Post Item End -->

                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="{% url 'blog-single' %}" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="{% static 'images/post-2.jpg' %}" alt="">
                            </figure>
                        </a>
                        <div class="post-item-tags">
                            <a href="{% url 'blog-single' %}">StartupLife</a>
                        </div>
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a href="{% url 'blog-single' %}">The Future of Work Why Flexibles Spaces Are the New
                                Normal</a></h2>
                        </div>
                        <!-- Post Item Content End -->

                        <!-- Post Item Readmore Button Start-->
                        <div class="post-item-btn">
                            <a href="{% url 'blog-single' %}" class="readmore-btn">read more</a>
                        </div>
                        <!-- Post Item Readmore Button End-->
                    </div>
                    <!-- Post Item Body End -->
                </div>
                <!-- Post Item End -->

                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="{% url 'blog-single' %}" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="{% static 'images/post-3.jpg' %}" alt="">
                            </figure>
                        </a>
                        <div class="post-item-tags">
                            <a href="{% url 'blog-single' %}">Office Design</a>
                        </div>
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a href="{% url 'blog-single' %}">5 Productivity Hacks to Maximize Your Co-Working
                                Experience</a></h2>
                        </div>
                        <!-- Post Item Content End -->

                        <!-- Post Item Readmore Button Start-->
                        <div class="post-item-btn">
                            <a href="{% url 'blog-single' %}" class="readmore-btn">read more</a>
                        </div>
                        <!-- Post Item Readmore Button End-->
                    </div>
                    <!-- Post Item Body End -->
                </div>
                <!-- Post Item End -->

                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="{% url 'blog-single' %}" data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="{% static 'images/post-4.jpg' %}" alt="">
                            </figure>
                        </a>
                        <div class="post-item-tags">
                            <a href="{% url 'blog-single' %}">Startup Life</a>
                        </div>
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- Post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a href="{% url 'blog-single' %}">Sustainable Workspaces Building a Greener Future Together</a>
                            </h2>
                        </div>
                        <!-- Post Item Content End -->

                        <!-- Post Item Readmore Button Start-->
                        <div class="post-item-btn">
                            <a href="{% url 'blog-single' %}" class="readmore-btn">read more</a>
                        </div>
                        <!-- Post Item Readmore Button End-->
                    </div>
                    <!-- Post Item Body End -->
                </div>
                <!-- Post Item End -->
            </div>
            <!-- Post Item List End -->
        </div>
    </div>
</div>
