<div class="hero-elite bg-section dark-section">
    <!-- Hero Box Start -->
    <div class="hero-box-elite">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Hero Content Start -->
                    <div class="hero-content-elite" style="max-width: 835px">
                        {% include 'partials/sitewide/section-title.html' with subtitle="AI-Powered Business Planning" title="A Step-by-Step Business Plan, Built One Question at a Time." title_tag='h1' paragraph="Venture Planner is the world's most advanced business planning platform. Move beyond generic, fill-in-the-blank templates and co-create a bespoke, data-driven strategy that is as unique as your business." paragraph_delay="0.2s" %}

                        <!-- Hero Button Start -->
                        <div class="hero-btn-elite wow fadeInUp" data-wow-delay="0.4s">
                                    <a href="{% url 'marketing-plans'%}"
                               class="btn-default btn-highlighted hero-border-btn">Marketing Plans</a>
                            <a href="https://app.ventureplanner.ai/business_register" class="btn-default btn-highlighted-elite hero-border-btn">{{ MAIN_CTA_TEXT }}</a>
                        </div>
                        <!-- Hero Button End -->
                    </div>
                    <!-- Hero Content End -->
                </div>
            </div>
        </div>
    </div>
    {% include "partials/business-hero-video-partial.html" %}
</div>