{% load static %}
<div class="hero-intro-video-elite">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Hero Intro Video Box Start -->
                <div class="hero-intro-video-box-elite box-bg-shape-elite">
                    <!-- Hero Video Image Start -->
                    <div class="hero-video-image-elite">
                        <figure class="image-anime">
                            <img src="{% static 'images/hero-video-image-elite.jpg' %}"  alt="">
                        </figure>
                    </div>
                    <!-- Hero Video Image End -->

                    <!-- Video Play Button Start -->
                    <div class="video-play-button-elite">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                           data-cursor-text="Play">
                            <img src="{% static 'images/icon-youtube-elite.svg' %}"  alt="">
                        </a>
                    </div>
                    <!-- Video Play Button End -->
                </div>
                <!-- Hero Intro Video Box End -->
            </div>
        </div>
    </div>
</div>