{% load static %}
<div class="page-case-study-single">
    <div class="container">
        <div class="row">
            {% include "partials/case-study-single-sidebar-partial.html" %}

            <div class="col-lg-8">
                <!-- Case Study Single Content Start -->
                <div class="case-study-single-content">
                    <!-- Page Single Image Start -->
                    <div class="page-single-image">
                        <figure class="image-anime reveal">
                            <img src="{% static 'images/case-study-1.jpg' %}" alt="Decorative image"  loading="lazy">
                        </figure>
                    </div>
                    <!-- Page Single Image End -->

                    <!-- Case Study Entry Start -->
                    <div class="case-study-entry">
                        <p class="wow fadeInUp">Flexible workspaces empower growing businesses to adapt quickly, attract top talent, and boost overall performance. By combining private offices, open collaboration areas, and on-demand meeting rooms, gain the freedom to work how they want—when they want. No long-term leases, no wasted space, just a scalable environment designed to support innovation.</p>

                        <!-- Case Study Problems Box Start -->
                        <div class="case-study-problems-box">
                            <h2 class="text-anime-style-3">The problems we help you overcome</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s"><span>High overhead costs:</span> Our flexible coworking plans are designed to grow with your business. Whether you need to add desks for a few new hires, set up a private office for a project team, or scale back during slower periods, you can adjust your space on demand—without long-term leases or costly build-outs.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.4s"><span>Limited scalability:</span> Traditional office setups make it difficult for businesses to scale at the pace they need. Whether hiring new team members or opening project-based departments, rigid spaces can't expand or contract without costly renovations, lengthy lease negotiations, or disruptive relocations.</p>
                        </div>
                        <!-- Case Study Problems Box End -->

                        <!-- Case Study Body Box Start -->
                        <div class="case-study-growth-box">
                            <h2 class="text-anime-style-3">Solutions that drive growth</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.6s">Our flexible coworking plans are designed to grow with your business. Whether you need to add desks for a few new hires, set up a private office for a project team, or scale back during slower periods, you can adjust your space on demand—without long-term leases or costly build-outs.</p>

                            <div class="case-study-growth-images-box">
                                <!-- Case Study Body Image Start -->
                                <div class="case-study-growth-image">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'images/case-study-growth-image-1.jpg' %}" alt="Decorative image"  loading="lazy">
                                    </figure>
                                </div>
                                <!-- Case Study Body Image End -->

                                <!-- Case Study Body Image Start -->
                                <div class="case-study-growth-image">
                                    <figure class="image-anime reveal">
                                        <img src="{% static 'images/case-study-growth-image-2.jpg' %}" alt="Decorative image"  loading="lazy">
                                    </figure>
                                </div>
                                <!-- Case Study Body Image End -->
                            </div>

                            <div class="case-study-growth-content">
                                <p class="wow fadeInUp">We design workspaces that grow with your business. Our flexible coworking solutions combine private offices, shared desks, and on-demand meeting rooms to fit your team’s evolving needs—without locking you into costly long-term leases. With 24/7 access, modern amenities.</p>
                                <ul class="wow fadeInUp" data-wow-delay="0.2s">
                                    <li>We provide fully flexible workspace plans that expand or contract with your business, so you never</li>
                                    <li>Our mix of private offices, dedicated desks, and on-demand meeting rooms gives your team</li>
                                    <li>By eliminating rigid long-term leases and heavy upfront investments, we help you redirect capital</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Case Study Body Box End -->
                    </div>
                    <!-- Case Study Entry End -->

                    <!-- Page Single FAQs Start -->
                    <div class="page-single-faqs">
                        {% include 'partials/sitewide/section-title.html' with title="Frequently asked question" title_class="text-anime-style-3" %}

                        <!-- FAQ Accordion Start -->
                        <div class="faq-accordion" id="faqaccordion">
                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        Q1: What types of workspaces do you offer?
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Q2. Is high-speed internet included in all plans?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        Q3. Are meeting rooms available to all members?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        Q4. What amenities are included in my membership?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->

                            <!-- FAQ Item Start -->
                            <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                <h2 class="accordion-header" id="heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        Q5. Are pets allowed in the coworking space?
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#faqaccordion">
                                    <div class="accordion-body">
                                        <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- FAQ Item End -->
                        </div>
                        <!-- FAQ Accordion End -->
                    </div>
                    <!-- Page Single FAQs End -->
                </div>
                <!-- Case Study Single Content End -->
            </div>
        </div>
    </div>
</div>