<div class="our-contact-us bg-section dark-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Our Contact Us Content Start -->
                <div class="our-contact-us-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Enterprise & Education</h3>
                        <h2 class="text-effect" data-cursor="-opaque">Powering Strategy for Universities & Enterprise
                            Teams</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">We provide custom packages with volume licensing,
                            advanced team management, and dedicated support to fit your institution's needs.</p>

                    </div>
                    <!-- Section Title End -->

                    <!-- Our Contact List Start -->
                    <div class="our-contact-list wow fadeInUp" data-wow-delay="0.2s">
                        <h3>Custom Licencing</h3>
                        <p>Tell us your requirements, and we can create a tailored licence for you. <br><br><a
                                href="mailto:sales@domainname.com">sales@ventureplanner.ai</a></p>
                    </div>
                    <!-- Our Contact List End -->
                </div>
                <!-- Our Contact Us Content End -->
            </div>

            <div class="col-lg-6">
                <!-- Contact us Form Start -->
                <div class="our-contact-us-form">
                    <!-- Contact Form Start -->
                    <div class="contact-form">
                        <form id="contactForm" action="#" method="POST" data-toggle="validator" class="wow fadeInUp"
                              data-wow-delay="0.2s">
                            <div class="row">
                                <div class="form-group col-md-6 mb-4">
                                    <label class="form-label">first name</label>
                                    <input type="text" name="fname" class="form-control" id="fname"
                                           placeholder="Enter First Name *" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <label class="form-label">last name</label>
                                    <input type="text" name="lname" class="form-control" id="lname"
                                           placeholder="Enter Last Name *" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <label class="form-label">Phone Number</label>
                                    <input type="text" name="phone" class="form-control" id="phone"
                                           placeholder="Enter Phone Number *" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-6 mb-4">
                                    <label class="form-label">Email Address</label>
                                    <input type="email" name="email" class="form-control" id="email"
                                           placeholder="Enter Email Address *" required>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group col-md-12 mb-5">
                                    <label class="form-label">message</label>
                                    <textarea name="message" class="form-control" id="message" rows="4"
                                              placeholder="Write message..."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="btn-default"><span>send message</span></button>
                                    <div id="msgSubmit" class="h3 hidden"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Contact Form End -->
                </div>
                <!-- Contact us Form End -->
            </div>
        </div>
    </div>
</div>