{% load static %}

<!-- Why Choose Us Section -->
<div class="why-choose-us-silver bg-section">
    <div class="container">
        <div class="row align-items-center">
            <!-- Content Column -->
            <div class="col-xl-6 col-lg-12">
                <div class="why-choose-content-silver">
                    {% include 'partials/sitewide/section-title.html' with subtitle="Created by Experts" title="Marketing Strategy, Built on First Principles" paragraph="Venture Planner was built by developers; but it was designed by marketing experts. We've embedded proven, textbook principles throughout, ensuring your strategy is built on a rock-solid foundation." paragraph_delay="0.2s" extra_classes="max-width: 500px" %}

                    <div class="why-choose-list-silver" style="position: relative;">
                        <div class="why-choose-item-silver">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-why-choose-1-silver.svg' %}" alt="Decorative image"
                                     loading="lazy">
                            </div>
                            <div class="why-choose-item-content-silver">
                                <h3>Strategy First, Always.</h3>
                                <p>
                                    Most tools jump straight to tactics. We guide you to define the 'why' before the
                                    'what', ensuring every campaign is a success.
                                </p>
                            </div>
                        </div>

                        <div class="why-choose-item-silver">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-why-choose-2-silver.svg' %}" alt="Decorative image"
                                     loading="lazy">
                            </div>
                            <div class="why-choose-item-content-silver">
                                <h3>A Cohesive Framework</h3>
                                <p>
                                    Each part of your plan connects. Market analysis informs your target
                                    segments, segments mould your personas, and objectives shape campaigns.
                                </p>
                            </div>
                        </div>

                        <div class="why-choose-item-silver" style="
                            position: absolute;
                            top: 0;
                            right: 15px;
                            left: 15px;
                            bottom: 0;
                            width: 100%;
                            transform: translate(calc(100% + 15px ), 0);
                            z-index: 0;
                        ">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image & CTA Column -->
            <div class="col-xl-6 col-lg-12">
                <div class="why-choose-image-box-silver">
                    <div class="why-choose-image-silver">
                        <figure class="image-anime">
                            <img src="{% static 'images/VP_MarketingPlan_Block8_1.png' %}" alt="Decorative image"
                                 loading="lazy">
                        </figure>
                    </div>

                    <div class="why-choose-cta-box-silver">
                        <div class="why-choose-cta-box-content-silver">
                            <div class="cta-content-silver">
                                 <h2>RACE</h2>
                                <p>Growth by design, not by guesswork.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Counter List -->
            <div class="col-lg-12">
                <div class="about-counter-box-silver">
                    <div class="about-us-counter-list-silver">
                        <div class="about-counter-item-silver">
                            <h2><span class="counter">35</span></h2>
                            <p>Plan Types</p>
                        </div>
                        <div class="about-counter-item-silver">
                            <h2><span class="counter">6</span></h2>
                            <p>Chapters</p>
                        </div>
                        <div class="about-counter-item-silver">
                            <h2><span class="counter">26</span></h2>
                            <p>Marketing Channels</p>
                        </div>
                        <div class="about-counter-item-silver">
                            <h2><span class="counter">46</span></h2>
                            <p>Sections</p>
                        </div>
                        <div class="about-counter-item-silver">
                            <h2><span class="counter">2152</span></h2>
                            <p>Questions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

