{% load static %}
<div class="our-faqs">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <!-- FAQs Content Start -->
                <div class="faqs-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Frequently asked questions</h3>
                        <h2 class="text-effect" data-cursor="-opaque">Answers to help you make the most of our spaces</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Explore the voices of freelancers, startups, and creatives who thrive in shared workspaces. Learn how co-working nurtures innovation, builds community.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Our Faqs Button Start -->
                    <div class="our-faqs-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="{% url faqs' %}" class="btn-default">View all FAQs</a>
                    </div>
                    <!-- Our Faqs Button End -->
                </div>
                <!-- FAQs Content End -->
            </div>

            <div class="col-xl-6">
                <!-- FAQ Accordion Start -->
                <div class="faq-accordion" id="accordion">
                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                Q1: What types of workspaces do you offer?
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->

                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                Q2. Is high-speed internet included in all plans?
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->

                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Q3. Are meeting rooms available to all members?
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->

                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Q4. What amenities are included in my membership?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->

                    <!-- FAQ Item Start -->
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="heading5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Q5. Are pets allowed in the coworking space?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                            <div class="accordion-body">
                                <p>We offer flexible options including hot desks, dedicated desks, private offices, and creative studios to suit solo professionals and growing teams.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ Item End -->
                </div>
                <!-- FAQ Accordion End -->
            </div>

            <div class="col-lg-12">
                <!-- Comapany Support Slider Start -->
                <div class="company-supports-slider-box">
                    <!-- Comapany Support Content Start -->
                    <div class="company-supports-content wow fadeInUp" data-wow-delay="0.2s">
                        <hr>
                        <p>1000+ Trusted Clients Over Worldwide</p>
                        <hr>
                    </div>
                    <!-- Comapany Support Content End -->

                    <!-- Comapany Support Slider Start -->
                    <div class="company-supports-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo">
                                        <img src="{% static 'images/company-supports-logo-1.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo">
                                        <img src="{% static 'images/company-supports-logo-2.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo">
                                        <img src="{% static 'images/company-supports-logo-3.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo">
                                        <img src="{% static 'images/company-supports-logo-4.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo">
                                        <img src="{% static 'images/company-supports-logo-5.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo">
                                        <img src="{% static 'images/company-supports-logo-1.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo">
                                        <img src="{% static 'images/company-supports-logo-3.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->
                            </div>
                        </div>
                    </div>
                    <!-- Comapany Support Slider End -->
                </div>
                <!-- Comapany Support Slider End -->
            </div>
        </div>
    </div>
</div>