{% load static %}
<div class="hero-elite bg-section dark-section">
    <!-- Hero Box Start -->
    <div class="hero-box-elite">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Hero Content Start -->
                    <div class="hero-content-elite">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Welcome to Our Space Agency</h3>
                            <h1 class="text-effect" data-cursor="-opaque">Smart and scalable workspaces designed for
                                freelancers, startups, and growing teams</h1>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Our coworking spaces give you the freedom to
                                work your way - offering hot desks, private offices, and collaborative areas equipped
                                with everything you need to focus, create, and scale with ease.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Hero Button Start -->
                        <div class="hero-btn-elite wow fadeInUp" data-wow-delay="0.4s">
                            <a href="{% url 'contact' %}" class="btn-default-elite btn-highlighted-elite">Get Started Now</a>
                            <a href="{% url 'services' %}"
                               class="btn-default-elite btn-highlighted-elite hero-border-btn-elite">View All
                                Services</a>
                        </div>
                        <!-- Hero Button End -->
                    </div>
                    <!-- Hero Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Box End -->

    <!-- Hero Intro Video Start -->
    <div class="hero-intro-video-elite">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Hero Intro Video Box Start -->
                    <div class="hero-intro-video-box-elite box-bg-shape-elite">
                        <!-- Hero Video Image Start -->
                        <div class="hero-video-image-elite">
                            <figure class="image-anime">
                                <img src="{% static 'images/hero-video-image-elite.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Hero Video Image End -->

                        <!-- Video Play Button Start -->
                        <div class="video-play-button-elite">
                            <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                               data-cursor-text="Play">
                                <img src="{% static 'images/icon-youtube-elite.svg' %}" alt="">
                            </a>
                        </div>
                        <!-- Video Play Button End -->
                    </div>
                    <!-- Hero Intro Video Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Intro Video End -->
</div>