{% load static %}
<div class="how-it-work-silver dark-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- How Work Content Start -->
                <div class="how-work-content-silver">
                    {% include 'partials/sitewide/section-title.html' with subtitle="How It Works" title="Create Integrated;<br> Multi-Channel Plans;<br> The Easy Way." paragraph="Venture Planner transforms complex planning into a simple, streamlined process. Our collaborative approach helps you move from initial concept to a comprehensive, data-driven plan faster than ever before." paragraph_delay="0.2s" %}

                    <!-- How Work Body Start -->
                    <div class="how-work-body-silver">
                        <!-- Satisfy Client Images Start -->
                        {% include "partials/satisfied-clients.html" %}
                        <!-- Satisfy Client Images End -->

                        <!-- How Work Counter List Start -->
                        <div class="how-work-counter-list-silver">
                            <!-- How Work Counter Item Start -->
                            <div class="how-work-counter-item-silver">
                                <h2><span class="counter">80,000</span>+</h2>
                                <p>Business Users</p>
                            </div>
                            <!-- How Work Counter Item End -->

                            <!-- How Work Counter Item Start -->
                            <div class="how-work-counter-item-silver">
                                <h2><span class="counter">100,000</span>+</h2>
                                <p>Plans Completed</p>
                            </div>
                            <!-- How Work Counter Item End -->

                            <!-- How Work Counter Item Start -->
                            <div class="how-work-counter-item-silver">
                                <h2><span class="counter">98</span>%</h2>
                                <p>User Satisfaction</p>
                            </div>
                            <!-- How Work Counter Item End -->
                        </div>
                        <!-- How Work Counter List Start -->
                    </div>
                    <!-- How Work Body End -->
                </div>
                <!-- How Work Content End -->
            </div>

            <div class="col-lg-6">
                <!-- How Work Step List Start -->
                <div class="how-work-step-list-silver">
                    <!-- Work Step Item Start -->
                    <div class="work-step-item-silver wow fadeInUp">
                        <!-- Work Step Item Header Start -->
                        <div class="work-step-item-header-silver">
                            <div class="work-step-number-silver">
                                <h4>1</h4>
                            </div>
                            <div class="work-step-title-silver">
                                <h3>Define Scope</h3>
                            </div>
                        </div>
                        <!-- Work Step Item Header End -->

                        <!-- Work Step Item BodyStart -->
                        <div class="work-step-item-body-silver">
                            <p>Start by setting the foundation. Choose your desired level of detail, from high-level
                                strategic overviews to in-depth tactical roadmaps. Focus on a single marketing channel
                                or select multiple channels to perfectly match your desired results.</p>
                        </div>
                        <!-- Work Step Item Body End -->
                    </div>
                    <!-- Work Step Item End -->

                    <!-- Work Step Item Start -->
                    <div class="work-step-item-silver wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Work Step Item Header Start -->
                        <div class="work-step-item-header-silver">
                            <div class="work-step-number-silver">
                                <h4>2</h4>
                            </div>
                            <div class="work-step-title-silver">
                                <h3>Answer Questions</h3>
                            </div>
                        </div>
                        <!-- Work Step Item Header End -->

                        <!-- Work Step Item BodyStart -->
                        <div class="work-step-item-body-silver">
                            <p>Our intelligent platform guides you through a series of targeted questions. Your answers
                                provide the crucial context, goals, and unique insights that our AI uses to analyse
                                data, generate strategies, and write your custom plan.</p>
                        </div>
                        <!-- Work Step Item Body End -->
                    </div>
                    <!-- Work Step Item End -->

                    <!-- Work Step Item Start -->
                    <div class="work-step-item-silver wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Work Step Item Header Start -->
                        <div class="work-step-item-header-silver">
                            <div class="work-step-number-silver">
                                <h4>3</h4>
                            </div>
                            <div class="work-step-title-silver">
                                <h3>Review, Refine & Execute</h3>
                            </div>
                        </div>
                        <!-- Work Step Item Header End -->

                        <!-- Work Step Item BodyStart -->
                        <div class="work-step-item-body-silver">
                            <p>Receive a fully-drafted, professional plan in a fraction of the time. Easily check, edit,
                                and revise the content until it's perfect. When you're ready, convert your strategy into
                                an actionable project plan and get measurable results.</p>
                        </div>
                        <!-- Work Step Item Body End -->
                    </div>
                    <!-- Work Step Item End -->
                </div>
                <!-- How Work Step List End -->
            </div>
        </div>
    </div>
</div>