{% load static %}
<div class="how-it-works">
    <div class="container">
        <div class="row section-row align-items-end">
            <div class="col-xl-6">
                {% include 'partials/sitewide/section-title.html' with subtitle="How It Works" title="From Idea to Investor-Ready Plan in Four Simple Steps" %}
            </div>

            <div class="col-xl-6">
                <!-- Section Content Btn Start -->
                <div class="section-content-btn">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                        <p>Experience the power and ease of Venture Planner firsthand.</p>
                    </div>
                    <!-- Section Title Content End -->

                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a class="btn-default" href="{% url 'business-plans' %}">Try it Yourself</a>
                    </div>
                    <!-- Section Button End -->
                </div>
                <!-- Section Content Btn End -->
            </div>
        </div>

        <div class="row how-works-list">
            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item active wow fadeInUp">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi fi-tr-location-crosshairs large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>Select Plan Type</h3>
                        <p>Start by establishing the complete structure of your plan by confirming your objectives and
                            selecting the core modules.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">Get Started</a>
                        </div>
                        <div class="how-works-number">
                            <h3>01</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi fi-tr-wisdom large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>Begin Discovery</h3>
                        <p>Answer questions and choose from AI-generated answers to make strategic decisions
                            and outline your vision.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">Get Started</a>
                        </div>
                        <div class="how-works-number">
                            <h3>02</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi fi-tr-trust-alt large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>Generate & Refine</h3>
                        <p>AI helps write persuasive, data-driven content. You edit and refine, blending AI
                            speed with your human expertise.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">Get Started</a>
                        </div>
                        <div class="how-works-number">
                            <h3>03</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi-tr-chart-arrow-grow fi large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>PDF / Word Export</h3>
                        <p>Export your professional, investor-ready plan. Easily return to adapt the plan as your
                            business scales.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">Get Started</a>
                        </div>
                        <div class="how-works-number">
                            <h3>04</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                    <p>Let's Make A Plan - <a href="#">{{ MAIN_CTA_TEXT }}</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>