{% load static %}
<div class="how-it-works-elite">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                {% include 'partials/sitewide/section-title.html' with subtitle="How It Works" title="From Idea to Investor-Ready Plan in Four Simple Steps" center=True %}
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-location-crosshairs fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>Select Plan Type</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <p>Start by establishing the complete structure of your plan by confirming your objectives and selecting the core modules.</p>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>01</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp" data-wow-delay="0.2s">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-wisdom fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>Begin Discovery</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <p>Answer tailored questions and choose from AI-generated answers to make strategic decisions and outline your vision.</p>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>02</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp" data-wow-delay="0.4s">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-trust-alt fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>Generate & Refine</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <p>AI helps write persuasive, data-driven content. You edit and refine effortlessly, blending AI speed with your human expertise.</p>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>03</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp" data-wow-delay="0.6s">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-chart-arrow-grow fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>PDF / Word Export</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <p>Export your professional, investor-ready plan. Easily return to adapt the plan as your business scales.</p>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>04</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                    <p> Let's Make A Plan - <a href="#">{{ MAIN_CTA_TEXT }}</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>