{% load static %}
<div class="how-it-works">
    <div class="container">
        <div class="row section-row align-items-end">
            <div class="col-xl-6">
                {% include 'partials/sitewide/section-title.html' with subtitle="How It Works" title="From first contact to your new desk-made easy" %}
            </div>

            <div class="col-xl-6">
                <!-- Section Content Btn Start -->
                <div class="section-content-btn">
                    <!-- Section Title Content Start -->
                    <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                        <p>We break down big goals into manageable steps, ensuring your project is delivered efficiently, on time, and with the highest quality standards.</p>
                    </div>
                    <!-- Section Title Content End -->

                    <!-- Section Button Start -->
                    <div class="section-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a class="btn-default" href="{% url 'business-plans' %}">Learn More</a>
                    </div>
                    <!-- Section Button End -->
                </div>
                <!-- Section Content Btn End -->
            </div>
        </div>

        <div class="row how-works-list">
            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item active wow fadeInUp">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi fi-tr-heart-rate large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>Share Needs</h3>
                        <p>Browse flexible workspace that align with your vision and business goals.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">read more</a>
                        </div>
                        <div class="how-works-number">
                            <h3>01</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi fi-tr-customization-cogwheel large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>Find Options</h3>
                        <p>Choose from our tailored pricing options to find the perfect match for your goals.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">read more</a>
                        </div>
                        <div class="how-works-number">
                            <h3>02</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi fi-tr-object-exclude large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>Choose Plan</h3>
                        <p>Choose from our tailored pricing options to find the perfect match for your goals.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">read more</a>
                        </div>
                        <div class="how-works-number">
                            <h3>03</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Works Item Start -->
                <div class="how-works-item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- How Works Header Start -->
                    <div class="how-works-header">
                        <div class="icon-box">
                            <i class="fi-tr-back-up fi large"></i>
                        </div>
                        <div class="how-works-header-btn">
                            <a href="{% url 'contact' %}">
                                <i class="fi-tr-arrow-up-right fi small"></i>
                            </a>
                        </div>
                    </div>
                    <!-- How Works Header End -->

                    <!-- How Works Body Start -->
                    <div class="how-works-body">
                        <h3>Start Working</h3>
                        <p>Get started right away in a fully equipped, ready-to-use environment.</p>
                    </div>
                    <!-- How Works Body End -->

                    <!-- How Works Footer Start -->
                    <div class="how-works-footer">
                        <div class="how-works-btn">
                            <a href="{% url 'contact' %}" class="readmore-btn">read more</a>
                        </div>
                        <div class="how-works-number">
                            <h3>04</h3>
                        </div>
                    </div>
                    <!-- How Works Footer End -->
                </div>
                <!-- How Works Item Start -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                    <p>Let's Make A Plan - <a href="#">{{ MAIN_CTA_TEXT }}</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>