{% load static %}
<div class="how-it-works-elite">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                {% include 'partials/sitewide/section-title.html' with subtitle="How It Works" title="From Idea to Investor-Ready Plan in Four Simple Steps" center=True %}
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-location-crosshairs fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>Define Your Scope</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <ul>
                            <li>Set core modules like SWOT, funding and forecasting.</li>
                            <li>Add specialised sections for IP, exit strategy, etc.</li>
                            <li>Define the level of strategic and tactical detail required.</li>
                            <li>Establish your bespoke framework before you begin.</li>
                        </ul>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>01</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp" data-wow-delay="0.2s">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-wisdom fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>Begin Intelligent Discovery</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <ul>
                            <li>Complete questions tailored to your specific business.</li>
                            <li>Choose from multiple AI-generated answers.</li>
                            <li>Our platform guides you through strategic decisions.</li>
                            <li>Provide unique insights to fuel the AI's understanding.</li>
                        </ul>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>02</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp" data-wow-delay="0.4s">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-trust-alt fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>Co-Create in Real-Time</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <ul>
                            <li>AI helps to write persuasive, data-driven content.</li>
                            <li>The system learns as you go to improve every section.</li>
                            <li>Effortlessly edit, refine, and add your own thoughts.</li>
                            <li>Seamlessly blend AI with human expertise.</li>
                        </ul>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>03</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item-elite box-bg-shape-elite wow fadeInUp" data-wow-delay="0.6s">
                    <!-- How Work Item Header Start -->
                    <div class="how-work-item-header-elite">
                        <div class="icon-box">
                            <i class="fi-tr-chart-arrow-grow fi large"></i>
                        </div>
                        <div class="how-work-item-title-elite">
                            <h3>Generate & Grow</h3>
                        </div>
                    </div>
                    <!-- How Work Item Header End -->

                    <!-- How Work Item Content Start -->
                    <div class="how-work-item-content-elite">
                        <ul>
                            <li>Export your professionally formatted business plan.</li>
                            <li>Present a compelling strategy with confidence.</li>
                            <li>Use your plan as a roadmap to guide future decisions.</li>
                            <li>Return to adapt your plan as your business scales.</li>
                        </ul>
                    </div>
                    <!-- How Work Item Content End -->

                    <!-- How Work Item Number Start -->
                    <div class="how-work-item-number-elite">
                        <h3>04</h3>
                    </div>
                    <!-- How Work Item Number End -->
                </div>
                <!-- How Work Item Start -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="0.8s">
                    <p><span>Free Trial</span> Let's Make A Plan - <a href="#">Get Started</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>