{% load static %}
<div class="intro-video-box bg-section">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <!-- Intro Video Start -->
                <div class="intro-video wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Intro Image Start -->
                    <div class="intro-video-image">
                        <figure>
                            <img src="{% static 'images/intro-video-image.jpg' %}" alt="">
                        </figure>
                    </div>
                    <!-- Intro Image End -->

                    <!-- Video Play Button Start -->
                    <div class="video-play-button bg-effect">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                           data-cursor-text="Play">
                            <i class=" fi-tr-play fi large"></i>
                        </a>
                    </div>
                    <!-- Video Play Button End -->
                </div>
                <!-- Intro Video End -->
            </div>
        </div>
    </div>
</div>
