{% load static %}
<div class="intro-compare-box bg-section dark-section">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-xl-4 d-flex align-items-center h-100">
                {% include 'partials/sitewide/section-title.html' with subtitle="FULL SPECTRUM PLANNING" title="Strategic Vision & Tactical Blueprints" title_tag='h2' paragraph='Bridge the gap between vision and execution. Our platform allows you to seamlessly transition from defining high-level annual objectives to mapping out granular, campaign-ready tactical blueprints. It gives you the flexibility to plan the "why" and the "how" without switching tools.' paragraph_delay="0.2s" %}
            </div>
            <div class="col-xl-8">
                <div class="intro-video-content">
                    <div class="comparison-slider wow fadeInUp" data-wow-delay="0.2s">
                         <div class="device-top"><div class="dot"></div><div class="dot"></div><div class="dot"></div></div>
                        <div class="comparison-container">
                            <img
                                    src="/static/images/VP_MarketingPlan_Block4_Strategic.png"
                                    class="comparison-img comparison-before"
                                    alt="Before"
                            >
                            <img
                                    src="/static/images/VP_MarketingPlan_Block4_Tactical.png"
                                    class="comparison-img comparison-after"
                                    alt="After"
                            >
                            <div class="comparison-handle">
                                <span class="handle-icon">
                                    <i class="fi fi fi-tr-arrows-alt-h small"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
