{% load static %}
<div class="hero-silver bg-section dark-section parallaxie">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 position-relative">
                <div class="carousel-container flex-grow-1 d-flex align-items-center justify-content-center py-5">
                    <div class="container-fluid carousel-rotation-wrapper">
                        <div class="carousel-track" id="carouselTrack">
                            <!-- Carousel Items will be dynamically generated and cloned here -->
                        </div>
                    </div>
                </div>
                <div class="hero-box-silver">
                    <!-- Hero Content Start -->
                    <div class="hero-content-silver">
                        {% include 'partials/sitewide/section-title.html' with subtitle="Powered by AI" title="Professional Marketing Planning - Become Unstoppable" title_tag='h1' title_class="text-anime-style-3" paragraph="Generate exhaustive, multi-channel marketing strategies for digital marketing, direct response marketing, traditional advertising, SEO, public relations, and much, much more. ." paragraph_delay="0.2s" %}

                        <!-- Hero Body Start -->
                        <div class="hero-body-silver">
                            <!-- Hero Button Start -->
                            <div class="hero-btn-silver wow fadeInUp" data-wow-delay="0.4s">
                                <a href="contact.html" class="btn-default-silver btn-highlighted-silver">{{ MAIN_CTA_TEXT }}</a>
                            </div>
                            <!-- Hero Button End -->

                            <!-- Satisfy Client Box Start -->
                            <div class="satisfy-client-box-silver wow fadeInUp" data-wow-delay="0.6s">
                                <!-- Satisfy Client Images Start -->
                                {% include "partials/satisfied-clients.html" %}
                                <!-- Satisfy Client Images End -->

                                <!-- Satisfy Client Content Start -->
                                <div class="satisfy-client-content-silver">
                                    <p><span>98%</span> - User Satisfaction</p>
                                </div>
                                <!-- Satisfy Client Content End -->
                            </div>
                            <!-- Satisfy Client Box End -->
                        </div>
                        <!-- Hero Body End -->
                    </div>
                    <!-- Hero Content End -->

                    <!-- Hero Company Slider Box Start -->
                    <div class="hero-company-slider-box-silver">
                        <p> Trusted by <span class="counter">100,000</span>+ Businesses. As Seen on:</p>

                        <!-- Hero Company Slider Start -->
                        <div class="hero-company-slider-silver">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-1.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-2.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-3.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-4.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-5.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->
                                </div>
                            </div>
                        </div>
                        <!-- Hero Company Slider End -->
                    </div>
                    <!-- Hero Company Slider Box End -->
                </div>
                <!-- Hero Box End -->
            </div>
        </div>
    </div>
</div>

