{% load static %}
<div class="hero-silver bg-section dark-section parallaxie">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 position-relative">
                <div class="carousel-container flex-grow-1 d-flex align-items-center justify-content-center py-5">
                    <div class="container-fluid carousel-rotation-wrapper">
                        <div class="carousel-track" id="carouselTrack">
                            <!-- Carousel Items will be dynamically generated and cloned here -->
                        </div>
                    </div>
                </div>
                <div class="hero-box-silver">
                    <!-- Hero Content Start -->
                    <div class="hero-content-silver">
                        {% include 'partials/sitewide/section-title.html' with subtitle="Powered by AI" title="Professional Marketing Planning - Become Unstoppable" title_tag='h1' title_class="text-anime-style-3" paragraph="Generate exhaustive, multi-channel marketing strategies for digital marketing, direct response marketing, traditional advertising, SEO, public relations, and much, much more. ." paragraph_delay="0.2s" %}

                        <!-- Hero Body Start -->
                        <div class="hero-body-silver">
                            <!-- Hero Button Start -->
                            <div class="hero-btn-silver wow fadeInUp" data-wow-delay="0.4s">
                                <a href="contact.html" class="btn-default-silver btn-highlighted-silver">{{ MAIN_CTA_TEXT }}</a>
                            </div>
                            <!-- Hero Button End -->

                            <!-- Satisfy Client Box Start -->
                            <div class="satisfy-client-box-silver wow fadeInUp" data-wow-delay="0.6s">
                                <!-- Satisfy Client Images Start -->
                                {% include "partials/satisfied-clients.html" %}
                                <!-- Satisfy Client Images End -->

                                <!-- Satisfy Client Content Start -->
                                <div class="satisfy-client-content-silver">
                                    <p><span>98%</span> - User Satisfaction</p>
                                </div>
                                <!-- Satisfy Client Content End -->
                            </div>
                            <!-- Satisfy Client Box End -->
                        </div>
                        <!-- Hero Body End -->
                    </div>
                    <!-- Hero Content End -->

                    <!-- Hero Company Slider Box Start -->
                    <div class="hero-company-slider-box-silver">
                        <p> Trusted by <span class="counter">100,000</span>+ Businesses. As Seen on:</p>

                        <!-- Hero Company Slider Start -->
                        <div class="hero-company-slider-silver">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-1.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-2.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-3.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-4.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->

                                    <!-- Company Logo Start -->
                                    <div class="swiper-slide">
                                        <div class="company-logo">
                                            <img src="{% static 'images/company-supports-logo-5.svg' %}" alt="Decorative image" >
                                        </div>
                                    </div>
                                    <!-- Company Logo End -->
                                </div>
                            </div>
                        </div>
                        <!-- Hero Company Slider End -->
                    </div>
                    <!-- Hero Company Slider Box End -->
                </div>
                <!-- Hero Box End -->
            </div>
        </div>
    </div>
</div>

<style>
    .card-ratio-base {
        height: 100%; /* Fallback */
        transition: all 0.8s ease-in-out;
        transform-origin: bottom;
    }

    .carousel-container {
        position: absolute;
        top: 0;
        left: -50vw;
        right: 0;
        bottom: 0;
        width: 150vw;
    }

    .carousel-rotation-wrapper {
        overflow: hidden;
        padding-top: 10vh;
        padding-bottom: 2vh;
        transform: rotate(15deg) translateY(-32vw) translateX(8.5vw) scale(0.9) translateZ(0);
        transition: transform 0.8s ease;
    }
    .carousel-track {
        display: flex;
        transition: transform 0.8s ease-in-out;
    }

    .card-item {
        flex-shrink: 0;
        margin-right: 1.5rem;
        background-color: #343a40;
        color: #f8f9fa;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
        border-radius: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.8s ease-in-out;
        border: 2px solid transparent;
    }

    .no-transition * {
        transition: none !important;
    }

    .card-item.featured {
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 10px -5px rgba(0, 0, 0, 0.15);
        transform: none;
    }

    .card-item img {
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
    }

    .card-item.featured img {
        opacity: 0;
        //opacity: 1;
    }
</style>

