{% load static %}
<div class="our-services-silver bg-section">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-12">
                <!-- Section Title Start -->
                <div class="section-title section-title-center">
                    <h3 class="wow fadeInUp">Multi-Channel Marketing</h3>
                    <h2 class="text-effect" data-cursor="-opaque">Build Your Complete Roadmap to Multi-Channel
                        Success</h2>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row service-list-silver">
            <div class="col-lg-4 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item-silver highlighted-box wow fadeInUp">
                    <div class="service-item-heading-silver">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-service-item-6-silver.svg' %}" alt="">
                        </div>
                        <h3><a href="{% url 'service-single'  %}">& Much, Much, More</a></h3>
                    </div>
                    <div class="service-item-content-silver">
                        <p>Beyond high-level strategy, we deliver detailed, step-by-step execution roadmaps for every
                            campaign, ensuring you have a clear path to implementation.</p>
                    </div>

                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item-silver wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item-heading-silver">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-service-item-1-silver.svg' %}" alt="">
                        </div>
                        <h3><a href="{% url 'service-single'  %}">Digital Marketing</a></h3>
                    </div>
                    <div class="service-item-content-silver">
                        <p>Build data-driven digital strategies to drive traffic and generate conversions.</p>
                        <ul>
                            <li>Paid Search Advertising (PPC)</li>
                            <li>Search Engine Optimization (SEO)</li>
                            <li>Affiliate Marketing</li>
                            <li>Display & Banner Advertising</li>
                            <li>Organic Social Media</li>
                            <li>Paid Social Media Advertising</li>
                            <li>Influencer Marketing</li>
                        </ul>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item-silver wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item-heading-silver">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-service-item-5-silver.svg' %}" alt="">
                        </div>
                        <h3><a href="{% url 'service-single'  %}">Direct Advertising</a></h3>
                    </div>
                    <div class="service-item-content-silver">
                        <p>Build one-to-one connections that foster loyalty and drive conversions.</p>
                        <ul>
                            <li>Physical Mail Campaigns</li>
                            <li>Email Marketing</li>
                            <li>Messaging Campaigns</li>
                            <li>Catalogue Marketing</li>
                            <li>Telemarketing</li>
                            <li>Door-to-Door Sales</li>
                        </ul>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item-silver wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item-heading-silver">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-service-item-3-silver.svg' %}" alt="">
                        </div>
                        <h3><a href="{% url 'service-single'  %}">Event Marketing</a></h3>
                    </div>
                    <div class="service-item-content-silver">
                        <p>Create memorable brand experiences that captivate your audience.</p>
                        <ul>
                            <li>Retail / In-Store Advertising</li>
                            <li>Sponsorships</li>
                            <li>Trade Shows & Exhibitions</li>
                            <li>Seminars & Workshops</li>
                            <li>Networking Events</li>
                        </ul>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item-silver active wow fadeInUp" data-wow-delay="0.8s">
                    <div class="service-item-heading-silver">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-service-item-2-silver.svg' %}"alt="">
                        </div>
                        <h3><a href="{% url 'service-single'  %}">Traditional Advertising</a></h3>
                    </div>
                    <div class="service-item-content-silver">
                        <p>Leverage the power and reach of established media channels to build brand awareness and
                            credibility.</p>
                        <ul>
                            <li>TV Advertising</li>
                            <li>Radio Advertising</li>
                            <li>Print Advertising</li>
                            <li>Outdoor Advertising</li>
                        </ul>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Service Item Start -->
                <div class="service-item-silver wow fadeInUp" data-wow-delay="1s">
                    <div class="service-item-heading-silver">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-service-item-4-silver.svg' %}" alt="">
                        </div>
                        <h3><a href="{% url 'service-single'  %}">Public Relations</a></h3>
                    </div>
                    <div class="service-item-content-silver">
                        <p>Strategically shape your brand's narrative and cultivate a strong, positive public image
                            through targeted media outreach and expert reputation management.</p>
                        <ul>
                            <li>Media Profile Building</li>
                            <li>Crisis Management</li>
                        </ul>
                    </div>
                </div>
                <!-- Service Item End -->
            </div>

            <div class="col-lg-12">
                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="1.2s">
                    <p><span>Free Trial</span> Let's Make A Plan - <a href="#">Get Started</a></p>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>