{% load static %}
<div class="our-feature-elite">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <!-- Our Feature Information Start -->
                <div class="our-feature-info-elite">
                    <!-- Section Sub Title Start -->
                    <div class="section-sub-title">
                        <h3 class="wow fadeInUp">Our Feature</h3>
                    </div>
                    <!-- Section Sub Title End -->

                    <!-- Contact Us Circle Start -->
                    <div class="contact-us-circle-elite">
                        <a href="{% url 'contact' %}">
                            <img src="{% static 'images/contact-us-circle-elite.svg' %}" alt="Decorative image"  loading="lazy">
                        </a>
                    </div>
                    <!-- Contact Us Circle End -->
                </div>
                <!-- Our Feature Information End -->
            </div>

            <div class="col-xl-9">
                <!-- Our Feature Content Start -->
                <div class="our-feature-content-elite">
                    {% include 'partials/sitewide/section-title.html' with title="Flexible, comfortable, and fully equipped spaces built for freelancers, startups & growing" paragraph="Our coworking spaces are designed to match the pace of modern work offering flexible memberships, premium amenities, and a supportive environment where freelancers, startups, and teams can focus, collaborate, and grow together." paragraph_delay="0.2s" %}

                    <!-- Our Feature List Start -->
                    <div class="feature-list-elite">
                        <!-- Our Feature Item Start -->
                        <div class="feature-item-elite wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-our-feature-icon-1-elite.svg' %}" alt="Decorative image"  loading="lazy">
                            </div>
                            <div class="feature-item-content-elite">
                                <h3>Virtual Office Options</h3>
                                <p>Professional business address and mail handling.</p>
                            </div>
                            <div class="feature-btn-elite">
                                <a href="{% url 'contact' %}" class="readmore-btn">Learn More</a>
                            </div>
                        </div>
                        <!-- Our Feature Item End -->

                        <!-- Our Feature Item Start -->
                        <div class="feature-item-elite highlighted-box wow fadeInUp" data-wow-delay="0.6s">
                            <div class="feature-item-counter-elite">
                                <h2><span class="counter">150</span>+</h2>
                            </div>
                            <div class="feature-item-content-elite">
                                <h3>Virtual Office Options</h3>
                                <p>Professional business address and mail handling.</p>
                            </div>
                        </div>
                        <!-- Our Feature Item End -->

                        <!-- Our Feature Item Start -->
                        <div class="feature-item-elite wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-our-feature-icon-2-elite.svg' %}" alt="Decorative image"  loading="lazy">
                            </div>
                            <div class="feature-item-content-elite">
                                <h3>Virtual Office Options</h3>
                                <p>Professional business address and mail handling.</p>
                            </div>
                            <div class="feature-btn-elite">
                                <a href="{% url 'contact' %}" class="readmore-btn">Learn More</a>
                            </div>
                        </div>
                        <!-- Our Feature Item End -->
                    </div>
                    <!-- Our Feature List End -->
                </div>
                <!-- Our Feature Content End -->

                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="1s">
                    <p>From hot desks to private offices - <a href="{% url 'services' %}">see how our spaces adapt to your growth</a></p>
                    <ul>
                        <li><span class="counter">4.9</span>/5</li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                        <li>Over 2000 Reviews</li>
                    </ul>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>