{% load static %}

<!-- Our Project Section -->
<div class="our-project-silver">
    <div class="container-lg">
        <div class="row section-row">
            <div class="col-lg-12">
                {% include 'partials/sitewide/section-title.html' with subtitle="Example Plans" title="Explore Our Data-Driven Blueprints, Tailored for Every Stage of Growth" center=True %}
            </div>
        </div>

        <div class="table-card">
            <div class="table-responsive">
                <table class="data-table">
                    <thead>
                    <tr>
                        <th class="text-left">Plan Details</th>
                        <th class="text-left">Type</th>
                        <th class="text-center">Strategic</th>
                        <th class="text-center">Tactical</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Pages</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plan in plans %}
                    <tr>
                        <td class="cell-details">
                            <div class="details-wrapper">
                                <div class="details-title">{{ plan.title }}</div>
                                <div class="details-desc">{{ plan.description }}</div>
                            </div>
                        </td>

                        <td>
                            <span class="badge badge-{{ plan.type_slug }}">{{ plan.type }}</span>
                        </td>

                        <td class="cell-center">
                            <div class="signal-wrapper">
                                <div class="signal-bars">
                                    <div class="signal-bar {% if plan.strat_meta.bars >= 1 %}signal-bar-filled-{{ plan.strat_meta.class }}{% else %}signal-bar-empty{% endif %}"></div>
                                    <div class="signal-bar {% if plan.strat_meta.bars >= 2 %}signal-bar-filled-{{ plan.strat_meta.class }}{% else %}signal-bar-empty{% endif %}"></div>
                                    <div class="signal-bar {% if plan.strat_meta.bars >= 3 %}signal-bar-filled-{{ plan.strat_meta.class }}{% else %}signal-bar-empty{% endif %}"></div>
                                </div>
                                <span class="signal-label text-{{ plan.strat_meta.class }}">
                                  {{ plan.strat_meta.text }}
                                </span>
                            </div>
                        </td>
                        <td class="cell-center">
                            <div class="signal-wrapper">
                                <div class="signal-bars">
                                    <div class="signal-bar {% if plan.tact_meta.bars >= 1 %}signal-bar-filled-{{ plan.tact_meta.class }}{% else %}signal-bar-empty{% endif %}"></div>
                                    <div class="signal-bar {% if plan.tact_meta.bars >= 2 %}signal-bar-filled-{{ plan.tact_meta.class }}{% else %}signal-bar-empty{% endif %}"></div>
                                    <div class="signal-bar {% if plan.tact_meta.bars >= 3 %}signal-bar-filled-{{ plan.tact_meta.class }}{% else %}signal-bar-empty{% endif %}"></div>
                                </div>
                                <span class="signal-label text-{{ plan.tact_meta.class }}">
                                  {{ plan.tact_meta.text }}
                                </span>
                            </div>
                        </td>
                        <td class="cell-center">{{ plan.time }}</td>
                        <td class="cell-center">{{ plan.pages }}</td>
                        <td class="cell-center">
                            <a href="/contact/" class="btn-default btn-sm">
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="section-footer-text wow fadeInUp" data-wow-delay="0.4s">
                <p>
                    Your roadmap to success is waiting -
                    <a href="{% url 'contact' %}">{{ MAIN_CTA_TEXT }}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
/*    .table-card {*/
/*        background-color: #fff;*/
/*        border-radius: 0.75rem;*/
/*        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);*/
/*        overflow: hidden;*/
/*    }*/

/*    .table-responsive {*/
/*        overflow-x: auto;*/
/*    }*/

/*    .data-table {*/
/*        width: 100%;*/
/*        border-collapse: collapse;*/
/*    }*/

/*    .data-table thead {*/
/*        background-color: var(--slate-50);*/
/*        border-bottom: 1px solid var(--slate-200);*/
/*    }*/

/*    .data-table thead th {*/
/*        padding: 1rem 1.5rem;*/
/*        font-size: 0.75rem;*/
/*        font-weight: 600;*/
/*        text-transform: uppercase;*/
/*        letter-spacing: 0.05em;*/
/*    }*/

/*    .text-left {*/
/*        text-align: left;*/
/*    }*/
/*    .text-center {*/
/*        text-align: center;*/
/*    }*/

/*    .data-table tbody tr {*/
/*        border-bottom: 1px solid var(--slate-200);*/
/*        transition: background-color 0.15s ease;*/
/*        cursor: pointer;*/
/*    }*/
/*    .data-table tbody tr:last-child {*/
/*        border-bottom: none;*/
/*    }*/
/*    .data-table tbody tr:hover {*/
/*        background-color: var(--slate-50);*/
/*    }*/

/*    .data-table tbody tr td {*/
/*        padding: 1rem 1.5rem;*/
/*        vertical-align: middle;*/
/*    }*/

/*    .data-table .btn-default {*/
/*        padding: 18px;*/
/*        text-align: center;*/
/*    }*/

/*    .data-table .btn-default:before {*/
/*        display: none;*/
/*    }*/

/*    .details-wrapper {*/
/*        max-width: 28rem;*/
/*    }*/
/*    .details-title {*/
/*        font-weight: 600;*/
/*        color: #054442;*/
/*        margin-bottom: 0.25rem;*/
/*    }*/
/*    .details-desc {*/
/*        margin-top: 0.5rem;*/
/*        font-size: 0.875rem;*/
/*        line-height: 1.25rem;*/
/*    }*/

/*    .badge {*/
/*        display: inline-flex;*/
/*        align-items: center;*/
/*        padding: 0.25rem 0.625rem;*/
/*        border-radius: 9999px;*/
/*        font-size: 0.75rem;*/
/*        font-weight: 500;*/
/*    }*/
/*    .badge-business {*/
/*        background-color: #faf6ee;*/
/*        color: #f1ac04;*/
/*    }*/
/*    .badge-marketing {*/
/*        background-color: #f9f1f2;*/
/*        color: #ff747b;*/
/*    }*/
/*    .badge-financial {*/
/*        background-color: #ecf4f6;*/
/*        color: #1d61a9;*/
/*    }*/

/*    .cell-center { text-align: center; }*/
/*    .signal-wrapper {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        gap: 0.5rem;*/
/*    }*/

/*    .signal-label {*/
/*        font-size: 0.75rem;*/
/*        font-weight: 600;*/
/*        text-transform: uppercase;*/
/*    }*/

/*    .signal-bars {*/
/*        display: flex;*/
/*        gap: 0.25rem;*/
/*        align-items: flex-end;*/
/*        height: 24px;*/
/*    }*/

/*    .signal-bar {*/
/*        width: 6px;*/
/*        border-radius: 2px;*/
/*        transition: background-color 0.2s ease;*/
/*    }*/

/*    .signal-bar:nth-child(1) {*/
/*        height: 8px;*/
/*    }*/
/*    .signal-bar:nth-child(2) {*/
/*        height: 16px;*/
/*    }*/
/*    .signal-bar:nth-child(3) {*/
/*        height: 24px;*/
/*    }*/

/*    .signal-bar-empty {*/
/*        background-color: var(--slate-200);*/
/*    }*/

/*    .text-teal {*/
/*        color: #4c8f86;*/
/*    }*/
/*    .text-coral {*/
/*        color: #fb757e;*/
/*    }*/
/*    .text-gold {*/
/*        color: #ffbc25;*/
/*    }*/

/*    .signal-bar-filled-teal {*/
/*        background-color: #4c8f86;*/
/*    }*/
/*    .signal-bar-filled-coral {*/
/*        background-color: #fb757e;*/
/*    }*/
/*    .signal-bar-filled-gold {*/
/*        background-color: #ffbc25;*/
/*    }*/

/*@media only screen and (max-width: 991px) {*/
/*    .data-table,*/
/*    .data-table tbody {*/
/*        display: block;*/
/*    }*/

/*    .data-table thead {*/
/*        display: none;*/
/*    }*/

/*    .data-table tbody tr {*/
/*        display: block;*/
/*        border: 1px solid #ccc;*/
/*        margin-top: 20px;*/
/*    }*/

/*    .data-table tbody tr td {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        border: none;*/
/*        border-bottom: 1px solid #eee;*/
/*    }*/

/*    .data-table tbody tr td:before {*/
/*        width: 25%;*/
/*        min-width: 100px;*/
/*        text-align: left;*/
/*        padding: 1rem 1.5rem;*/
/*        font-size: 0.75rem;*/
/*        font-weight: 600;*/
/*        text-transform: uppercase;*/
/*        letter-spacing: 0.05em;*/
/*    }*/
/*    .data-table tbody tr td:nth-of-type(1):before {*/
/*        content: "Plan Details";*/
/*    }*/
/*    .data-table tbody tr td:nth-of-type(2):before {*/
/*        content: "Type";*/
/*    }*/
/*    .data-table tbody tr td:nth-of-type(3):before {*/
/*        content: "Strategic";*/
/*    }*/
/*    .data-table tbody tr td:nth-of-type(4):before {*/
/*        content: "Tactical";*/
/*    }*/
/*    .data-table tbody tr td:nth-of-type(5):before {*/
/*        content: "Time";*/
/*    }*/
/*    .data-table tbody tr td:nth-of-type(6):before {*/
/*        content: "Pages";*/
/*    }*/
/*    .data-table tbody tr td:nth-of-type(7):before {*/
/*        content: "Action";*/
/*    }*/
/*}*/
</style>