{% load static %}
<div class="our-team">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">Our Team</h3>
                    <h2 class="text-effect" data-cursor="-opaque">Meet the visionaries behind our inspiring workspaces</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content">
                    <p class="wow fadeInUp" data-wow-delay="0.2s">From flexible office solutions to dedicated member services, we provide you need to thrive - fast Wi-Fi, meeting rooms, modern amenities, and a vibrant community From flexible office solutions to dedicated member services.</p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- Team Item Start -->
                <div class="team-item wow fadeInUp">
                    <div class="team-image">
                        <a href="{% url 'team-single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-1.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team-single' %}">Daniel Reyes</a></h3>
                            <p>Founder & CEO</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Team Item End -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- Team Item Start -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-image">
                        <a href="{% url 'team-single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-2.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team-single' %}">Leslie Alexander</a></h3>
                            <p>Partnerships Lead</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Team Item End -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- Team Item Start -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-image">
                        <a href="{% url 'team-single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-3.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team-single' %}">Esther Howard</a></h3>
                            <p>Community Manager</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Team Item End -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- Team Item Start -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-image">
                        <a href="{% url 'team-single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-4.jpg' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team-single' %}">Brooklyn Simmons</a></h3>
                            <p>Interior Designer</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Team Item End -->
            </div>
        </div>
    </div>
</div>