{% load static %}
<div class="our-story-elite bg-section dark-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-6">
                <!-- Our Story Content Start -->
                <div class="our-story-content-elite">
                    {% include 'partials/sitewide/section-title.html' with subtitle="Introducing VP 2.0" title="The Future of Business Planning Has Arrived" paragraph="Just launched, Venture Planner 2.0 is a complete rebuild of our platform, powered multiple next-generation AI models. It's never been faster or easier to create a data-driven strategy for success. Discover the difference today." paragraph_delay="0.2s" %}

                    <!-- Story Counter Box Start -->
                    <div class="story-counter-box-elite">
                        <!-- Story Counter Item Start -->
                        <div class="story-counter-item-elite">
                            <h2><span class="counter">60</span>+</h2>
                            <p>New Sections</p>
                        </div>
                        <!-- Story Counter Item End -->

                        <!-- Story Counter Item Start -->
                        <div class="story-counter-item-elite">
                            <h2><span class="counter">1000</span>+</h2>
                            <p>New Data Points</p>
                        </div>
                        <!-- Story Counter Item End -->
                    </div>
                    <!-- Story Counter Box End -->
                </div>
                <!-- Our Story Content End -->
            </div>

            <div class="col-xl-7 col-lg-7 col-md-7">
                <!-- Story Intro Video Start -->
                <div class="story-intro-video-elite">
                    <!-- Video Play Button Start -->
                    <div class="video-play-button-elite bg-effect-elite">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                           data-cursor-text="Play">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div>
                    <!-- Video Play Button End -->
                </div>
                <!-- Story Intro Video End -->
            </div>
        </div>
    </div>
</div>