{% load static %}
<div class="page-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Service List Start -->
                <div class="services-list">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-1.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Private Office Spaces</a></h3>
                                <p>Perfect for businesses that need quiet dedicated space.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->

                    <!-- Service Item Start -->
                    <div class="service-item active wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}"  data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-2.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Meeting Rooms</a></h3>
                                <p>Perfect for businesses that need quiet dedicated space.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->

                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}"  data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-3.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Virtual Office</a></h3>
                                <p>Perfect for businesses that need quiet dedicated space.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->

                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}"  data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-4.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Dedicated Desks</a></h3>
                                <p>Perfect for businesses that need quiet dedicated space.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->

                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}" data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-5.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Mentorship Programs</a></h3>
                                <p>Connect with like-minded professionals.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->

                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="1s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}"  data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-6.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Event & Work Space</a></h3>
                                <p>Perfect for seminars, training and networking events.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->

                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="1.2s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}"  data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-7.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Community Lounges</a></h3>
                                <p>Collaborative space for inform meeting & socializing.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->

                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="1.4s">
                        <!-- Service Image Start -->
                        <div class="service-image">
                            <a href="{% url 'service-single' %}"  data-cursor-text="View">
                                <figure class="image-anime">
                                    <img src="{% static 'images/service-img-8.jpg' %}" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Service Image Start -->

                        <!-- Service Item Content Start -->
                        <div class="service-item-content">
                            <!-- Service Title Box Start -->
                            <div class="service-item-body">
                                <h3><a href="{% url 'service-single' %}" >Wellness & Recreation</a></h3>
                                <p>Spaces for relaxation, yoga, or quick workouts.</p>
                            </div>
                            <!-- Service Title Box End -->
                            <div class="service-btn">
                                <a href="{% url 'service-single' %}"  class="readmore-btn">learn more</a>
                            </div>
                        </div>
                        <!-- Service Item Content End -->
                    </div>
                    <!-- Service Item End -->
                </div>
                <!-- Service List End -->
            </div>
        </div>
    </div>
</div>