{% load static %}
<div class="our-feature-elite">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <!-- Our Feature Information Start -->
                <div class="our-feature-info-elite">
                    <!-- Section Sub Title Start -->
                    <div class="section-sub-title">
                        <h3 class="wow fadeInUp">Built on Proven Principles</h3>
                    </div>
                    <!-- Section Sub Title End -->

                    <!-- Contact Us Circle Start -->
                    <div class="contact-us-circle-elite">
                        <a href="{% url 'contact'  %}">
                            <img src="{% static 'images/contact-us-circle-elite.svg' %}" alt="Decorative image"  loading="lazy">
                        </a>
                    </div>
                    <!-- Contact Us Circle End -->
                </div>
                <!-- Our Feature Information End -->
            </div>

            <div class="col-xl-9">
                <!-- Our Feature Content Start -->
                <div class="our-feature-content-elite">
                    {% include 'partials/sitewide/section-title.html' with title="Proven Principles → Market-Winning Strategy" paragraph="Generic templates yield generic results. That's why Venture Planner was built by business experts on the bedrock of classic strategic planning. Our platform guides you through a rigorous, interconnected process—from comprehensive analysis to actionable strategy—ensuring every decision is informed, every objective is justified, and your final plan is engineered for success." paragraph_delay="0.2s" %}

                    <!-- Our Feature List Start -->
                    <div class="feature-list-elite">
                        <!-- Our Feature Item Start -->
                        <div class="feature-item-elite wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-our-feature-icon-1-elite.svg' %}" alt="Decorative image"  loading="lazy">
                            </div>
                            <div class="feature-item-content-elite">
                                <h3>Comprehensive Analysis</h3>
                                <p>We explore the business in detail to identify advantages.</p>
                                <ul>
                                    <li>Market Segmentation</li>
                                    <li>Customer Personas</li>
                                    <li>SWOT Analysis</li>
                                    <li>Competitor Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Our Feature Item End -->

                        <!-- Our Feature Item Start -->
                        <div class="feature-item-elite highlighted-box wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-our-feature-icon-1-elite.svg' %}" alt="Decorative image"  loading="lazy">
                            </div>

                            <div class="feature-item-content-elite">
                                <h3>SMART Objectives</h3>
                                <p>Our platform directly links insights from your research to create clear, measurable
                                    goals for your strategic initiatives.</p>
                                <ul>
                                    <li>SMART Goal Builder</li>
                                    <li>Ansoff Growth Matrix</li>
                                    <li>Objective Prioritisation</li>
                                    <li>Financial Target Setting</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Our Feature Item End -->

                        <!-- Our Feature Item Start -->
                        <div class="feature-item-elite wow fadeInUp" data-wow-delay="0.8s">
                            <div class="icon-box">
                                <img src="{% static 'images/icon-our-feature-icon-2-elite.svg' %}" alt="Decorative image"  loading="lazy">
                            </div>
                            <div class="feature-item-content-elite">
                                <h3>Actionable Strategy</h3>
                                <p>We translate your objectives into a step-by-step plan, complete with KPIs to track
                                    success and risk analysis to prevent failure.</p>
                                <ul>
                                    <li>Distribution Strategy</li>
                                    <li>Pricing Strategy</li>
                                    <li>Promotional Strategy</li>
                                    <li>People Strategy</li>
                                    <li>Exit Strategy</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Our Feature Item End -->
                    </div>
                    <!-- Our Feature List End -->
                </div>
                <!-- Our Feature Content ENd -->

                <!-- Section Footer Text Start -->
                <div class="section-footer-text wow fadeInUp" data-wow-delay="1s">
                    <p>Stop guessing and start planning with precision - <a href="#">Build your data-driven strategy
                        today</a></p>
                    <ul>
                        <li><span class="counter">4.9</span>/5</li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                        <li>Over 2000 Reviews</li>
                    </ul>
                </div>
                <!-- Section Footer Text End -->
            </div>
        </div>
    </div>
</div>