{% load static %}
<div class="satisfy-client-images">
    <div class="satisfy-client-image">
        <figure class="image-anime">
            <img src="{% static 'images/Mervyn-profile.jpg' %}" alt="Decorative image"
                 loading="lazy">
        </figure>
    </div>
    <div class="satisfy-client-image">
        <figure class="image-anime">
            <img src="{% static 'images/Rohan-profile.jpg' %}" alt="Decorative image"
                 loading="lazy">
        </figure>
    </div>
    <div class="satisfy-client-image">
        <figure class="image-anime">
            <img src="{% static 'images/Richard-profile.jpg' %}" alt="Decorative image"
                 loading="lazy">
        </figure>
    </div>
    <div class="satisfy-client-image">
        <figure class="image-anime">
            <img src="{% static 'images/leona-profile.jpg' %}" alt="Decorative image"
                 loading="lazy">
        </figure>
    </div>
    <div class="satisfy-client-image add-more">
        <i class="fa-solid fa-plus"></i>
    </div>
</div>