{% load static %}
<div class="page-team">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-md-6">
                <!-- Team Item Start -->
                <div class="team-item wow fadeInUp">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-1.jpg' %}" alt="Daniel Reyes" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Daniel Reyes</a></h3>
                            <p>Founder & CEO</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Team Item End -->
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-2.jpg' %}" alt="Leslie Alexander" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Leslie Alexander</a></h3>
                            <p>Partnerships Lead</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-3.jpg' %}" alt="Esther Howard" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Esther Howard</a></h3>
                            <p>Community Manager</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-4.jpg' %}" alt="Brooklyn Simmons" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Brooklyn Simmons</a></h3>
                            <p>Interior Designer</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Repeat pattern for team-5 through team-8 -->
            <div class="col-xl-3 col-md-6">
                <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-5.jpg' %}" alt="Darrell Steward" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Darrell Steward</a></h3>
                            <p>Founder & CEO</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="team-item wow fadeInUp" data-wow-delay="1s">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-6.jpg' %}" alt="Marvin McKinney" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Marvin McKinney</a></h3>
                            <p>Partnerships Lead</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-7.jpg' %}" alt="Courtney Henry" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Courtney Henry</a></h3>
                            <p>Community Manager</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
                    <div class="team-image">
                        <a href="{% url 'team_single' %}" data-cursor-text="View">
                            <figure>
                                <img src="{% static 'images/team-8.jpg' %}" alt="Arlene McCoy" loading="lazy">
                            </figure>
                        </a>
                    </div>
                    <div class="team-item-body">
                        <div class="team-content">
                            <h3><a href="{% url 'team_single' %}">Arlene McCoy</a></h3>
                            <p>Interior Designer</p>
                        </div>
                        <div class="team-social-list">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of team members -->

        </div>
    </div>
</div>
