{% load static %}
<div class="our-testimonials bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Testimonials Content Start -->
                <div class="testimonials-content">
                    <!-- Testimonials Content Body Start -->
                    <div class="testimonial-content-body">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">our testimonials</h3>
                            <h2 class="text-effect" data-cursor="-opaque">Success stories that prove a power of trust
                                collaboration and expertise</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Testimonials Button Start -->
                        <div class="testimonial-content-btn wow fadeInUp" data-wow-delay="0.2s">
                            <a href="{% url 'testimonials' %}" class="btn-default">View all testimonials</a>
                        </div>
                        <!-- Testimonials Button End -->
                    </div>
                    <!-- Testimonials Content Body End -->

                    <!-- Testimonials Info Box Start -->
                    <div class="testimonials-info-box wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Satisfy Client Images Start -->
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-1.jpg' %}" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-2.jpg' %}" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-3.jpg' %}" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-4.jpg' %}" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Satisfy Client Images End -->

                        <p>Explore the voices of freelancers, startups & creatives who thrive in shared workspaces.</p>
                    </div>
                    <!-- Testimonials Info Box End -->
                </div>
                <!-- Testimonials Content End -->
            </div>

            <div class="col-lg-6">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Drag">
                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <div class="testimonial-company-logo">
                                        <img src="{% static 'images/company-supports-logo-1.svg' %}" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <h3>Highly Recommended!</h3>
                                        <p>"The co-working space has completely transformed how I work. The environment
                                            is inspiring, and I've made valuable connections that helped my business
                                            grow faster than I ever imagined."</p>
                                    </div>
                                    <div class="testimonial-author">
                                        <div class="author-content">
                                            <h3>Leslie Alexander</h3>
                                            <p>CEO</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="testimonial-company-logo">
                                            <img src="{% static 'images/company-supports-logo-2.svg' %}" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <h3>Highly Recommended!</h3>
                                            <p>"The co-working space has completely transformed how I work. The
                                                environment is inspiring, and I've made valuable connections that helped
                                                my business grow faster than I ever imagined."</p>
                                        </div>
                                        <div class="testimonial-author">
                                            <div class="author-content">
                                                <h3>Cameron Williamson</h3>
                                                <p>Freelancer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->
                        </div>
                        <div class="testimonial-btn">
                            <div class="testimonial-button-prev"></div>
                            <div class="testimonial-button-next"></div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial Slider End -->
            </div>
        </div>
    </div>
</div>