{% load static %}
<script src="{% static 'js/testimonials-data.js' %}"></script>
<div class="our-testimonials bg-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonials-content">
                    <div class="testimonial-content-body">
                        {% include 'partials/sitewide/section-title.html' with subtitle="our testimonials" title="Real testimonials from founders, professionals, agencies and business leaders" %}
                        <div class="testimonial-content-btn wow fadeInUp" data-wow-delay="0.2s">
                            <a href="https://app.ventureplanner.ai/sign_in" class="btn-default">View All</a>
                        </div>
                    </div>
                    <div class="testimonials-info-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-1.jpg' %}" alt="Decorative image"  loading="lazy">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-2.jpg' %}" alt="Decorative image"  loading="lazy">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-3.jpg' %}" alt="Decorative image"  loading="lazy">
                                </figure>
                            </div>
                            <div class="satisfy-client-image">
                                <figure class="image-anime">
                                    <img src="{% static 'images/author-4.jpg' %}" alt="Decorative image"  loading="lazy">
                                </figure>
                            </div>
                        </div>
                        <p>Your feedback shapes our platform - thank you!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="testimonial-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Drag">

                            <!-- DYNAMIC CONTENT renderTestimonials()  -->

                        </div>
                        <div class="testimonial-btn">
                            <div class="testimonial-button-prev"></div>
                            <div class="testimonial-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>