{% load static %}
<div class="our-testimonials-elite">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Our Testimonials Content Start -->
                <div class="our-testimonials-content-elite">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Our Testimonials</h3>
                        <h2 class="text-effect" data-cursor="-opaque">Trust by professional loved by teams every
                            where</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Don't just take our word for it discover what our
                            members think about the workspaces, amenities, and supportive community we provide.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Our Testimonial Button Start -->
                    <div class="our-testimonial-btn-elite wow fadeInUp" data-wow-delay="0.4s">
                        <a href="{% url 'testimonials' %}" class="btn-default-elite">View All Testimonials</a>
                    </div>
                    <!-- Our Testimonial Button End -->
                </div>
                <!-- Our Testimonials Content End -->
            </div>

            <div class="col-lg-6">
                <!-- Testimonial Slider Start -->
                <div class="testimonial-slider-elite">
                    <div class="swiper">
                        <div class="swiper-wrapper" data-cursor-text="Drag">
                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item-elite">
                                    <div class="testimonial-header-elite">
                                        <div class="testimonials-rating-elite">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-quote-elite">
                                            <img src="{% static 'images/testimonial-quote-elite.jpg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-content-elite">
                                        <p>“Our journey started with just two desks, and as our startup grew, we were
                                            able to scale seamlessly into a private office without the hassle of
                                            relocating. The infrastructure is top-notch high-speed internet, meeting
                                            rooms, and a professional atmosphere.”</p>
                                    </div>
                                    <div class="testimonial-author-content-elite">
                                        <h3>Leslie Alexander</h3>
                                        <p>Freelancer</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->

                            <!-- Testimonial Slide Start -->
                            <div class="swiper-slide">
                                <div class="testimonial-item-elite">
                                    <div class="testimonial-header-elite">
                                        <div class="testimonials-rating-elite">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="testimonial-quote-elite">
                                            <img src="{% static 'images/testimonial-quote-elite.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-content-elite">
                                        <p>“Our journey started with just two desks, and as our startup grew, we were
                                            able to scale seamlessly into a private office without the hassle of
                                            relocating. The infrastructure is top-notch high-speed internet, meeting
                                            rooms, and a professional atmosphere.”</p>
                                    </div>
                                    <div class="testimonial-author-content-elite">
                                        <h3>Jimmy Wilson</h3>
                                        <p>Owner</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Testimonial Slide End -->
                        </div>
                        <div class="testimonial-btn-elite">
                            <div class="testimonial-button-prev-elite"></div>
                            <div class="testimonial-button-next-elite"></div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial Slider End -->
            </div>

            <div class="col-lg-12">
                <!-- Comapany Supports Slider Box Start -->
                <div class="company-supports-slider-box-elite">
                    <!-- Comapany Supports Content Start -->
                    <div class="company-supports-content-elite wow fadeInUp" data-wow-delay="0.2s">
                        <hr>
                        <p>1000+ Trusted Clients Over Worldwide</p>
                        <hr>
                    </div>
                    <!-- Comapany Supports Content End -->

                    <!-- Comapany Supports Slider Start -->
                    <div class="company-supports-slider-elite">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo-elite">
                                        <img src="{% static 'images/company-supports-logo-1-elite.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo-elite">
                                        <img src="{% static 'images/company-supports-logo-2-elite.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo-elite">
                                        <img src="{% static 'images/company-supports-logo-3-elite.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo-elite">
                                        <img src="{% static 'images/company-supports-logo-4-elite.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo-elite">
                                        <img src="{% static 'images/company-supports-logo-5-elite.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo-elite">
                                        <img src="{% static 'images/company-supports-logo-1-elite.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->

                                <!-- Company Support Logo Start -->
                                <div class="swiper-slide">
                                    <div class="company-supports-logo-elite">
                                        <img src="{% static 'images/company-supports-logo-3-elite.svg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Comapany Support Logo End -->
                            </div>
                        </div>
                    </div>
                    <!-- Comapany Supports Slider End -->
                </div>
                <!-- Comapany Supports Slider Box End -->
            </div>
        </div>
    </div>
</div>