{% load static %}
<div class="what-we-do">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-xl-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">What We Do</h3>
                    <h2 class="text-effect" data-cursor="-opaque">Designing flexible spaces for modern teams</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-xl-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content wow fadeInUp" data-wow-delay="0.2s">
                    <p>From flexible office solutions to dedicated member services, we provide you need to thrive - fast Wi-Fi, meeting rooms, modern amenities, and a vibrant community From flexible office solutions to dedicated member services.</p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- What We Do Item Start -->
                <div class="what-we-do-item wow fadeInUp">
                    <!-- What We Do Item Header Start -->
                    <div class="what-we-do-item-header">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-what-we-do-1.svg' %}" alt="Decorative image"  loading="lazy">
                        </div>
                        <div class="what-we-do-item-number">
                            <h3>01</h3>
                        </div>
                    </div>
                    <!-- What We Do Item Header End -->

                    <!-- What We Do Item Body Start -->
                    <div class="what-we-do-item-body">
                        <h3>Flexible Spaces</h3>
                        <p>We provide dynamic space designed to grow.</p>
                        <ul>
                            <li>Customizable Layouts</li>
                            <li>Private & Shared Offices</li>
                        </ul>
                    </div>
                    <!-- What We Do Item Body End -->

                    <!-- What We Do Item Footer Start -->
                    <div class="what-we-do-item-footer">
                        <a href="{% url 'contact' %}" class="readmore-btn">Read More</a>
                    </div>
                    <!-- What We Do Item Footer End -->
                </div>
                <!-- What We Do Item End -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- What We Do Item Start -->
                <div class="what-we-do-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- What We Do Item Header Start -->
                    <div class="what-we-do-item-header">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-what-we-do-2.svg' %}" alt="Decorative image"  loading="lazy">
                        </div>
                        <div class="what-we-do-item-number">
                            <h3>02</h3>
                        </div>
                    </div>
                    <!-- What We Do Item Header End -->

                    <!-- What We Do Item Body Start -->
                    <div class="what-we-do-item-body">
                        <h3>Virtual Services</h3>
                        <p>Establish your presence a premium business.</p>
                        <ul>
                            <li>Call Forwarding</li>
                            <li>Professional Business</li>
                        </ul>
                    </div>
                    <!-- What We Do Item Body End -->

                    <!-- What We Do Item Footer Start -->
                    <div class="what-we-do-item-footer">
                        <a href="{% url 'contact' %}" class="readmore-btn">Read More</a>
                    </div>
                    <!-- What We Do Item Footer End -->
                </div>
                <!-- What We Do Item End -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- What We Do Item Start -->
                <div class="what-we-do-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- What We Do Item Header Start -->
                    <div class="what-we-do-item-header">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-what-we-do-3.svg' %}" alt="Decorative image"  loading="lazy">
                        </div>
                        <div class="what-we-do-item-number">
                            <h3>03</h3>
                        </div>
                    </div>
                    <!-- What We Do Item Header End -->

                    <!-- What We Do Item Body Start -->
                    <div class="what-we-do-item-body">
                        <h3>Startup Incubation</h3>
                        <p>For early-stage companies, we offer resources.</p>
                        <ul>
                            <li>Business Guidance</li>
                            <li>Funding Opportunities</li>
                        </ul>
                    </div>
                    <!-- What We Do Item Body End -->

                    <!-- What We Do Item Footer Start -->
                    <div class="what-we-do-item-footer">
                        <a href="{% url 'contact' %}" class="readmore-btn">Read More</a>
                    </div>
                    <!-- What We Do Item Footer End -->
                </div>
                <!-- What We Do Item End -->
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- What We Do Item Start -->
                <div class="what-we-do-item wow fadeInUp" data-wow-delay="0.6s">
                    <!-- What We Do Item Header Start -->
                    <div class="what-we-do-item-header">
                        <div class="icon-box">
                            <img src="{% static 'images/icon-what-we-do-4.svg' %}" alt="Decorative image"  loading="lazy">
                        </div>
                        <div class="what-we-do-item-number">
                            <h3>04</h3>
                        </div>
                    </div>
                    <!-- What We Do Item Header End -->

                    <!-- What We Do Item Body Start -->
                    <div class="what-we-do-item-body">
                        <h3>Support Services</h3>
                        <p>We've got you covered so you can focus.</p>
                        <ul>
                            <li>Admin & IT Assistance</li>
                            <li>Reception & Mail</li>
                        </ul>
                    </div>
                    <!-- What We Do Item Body End -->

                    <!-- What We Do Item Footer Start -->
                    <div class="what-we-do-item-footer">
                        <a href="{% url 'contact' %}" class="readmore-btn">Read More</a>
                    </div>
                    <!-- What We Do Item Footer End -->
                </div>
                <!-- What We Do Item End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- What We Do List Start -->
                <div class="what-we-do-list wow fadeInUp" data-wow-delay="0.8s">
                    <ul>
                        <li>Business Support</li>
                        <li>Admin Help</li>
                        <li>IT Support</li>
                        <li>Mail Handling</li>
                        <li>Professional Support</li>
                        <li>Helpdesk</li>
                        <li>Workspace Assistance</li>
                    </ul>
                </div>
                <!-- What We Do List End -->
            </div>
        </div>
    </div>
</div>