{% extends "base.html" %}
{% block title %}About - Venture Planner{% endblock %}

{% block content %}
{% include "partials/sitewide/generic-hero.html" %}
{% include "partials/about-us-overview-partial.html" %}
{% include "partials/our-approach-partial.html" %}
{% include "partials/why-choose-elite-partial.html" %}
{% include "partials/testimonials-partial.html" %}
{% include "partials/how-it-works-partial.html" %}
{% include "partials/our-achievements-partial.html" %}
{% include "partials/faqs-partial.html" %}
{% endblock %}
