{% extends "base2.html" %}

{% block title %}Business plans - Venture Planner{% endblock %}

{% block content %}
{% include "partials/business-hero-partial.html" %}
{% include "partials/beyond-the-template-partial.html" %}
{% include "partials/our-story-elite-partial.html" %}
{% include "partials/how-it-works-business-partial.html" %}
{% include "partials/advanced-financial-forecasting-partial.html" %}
{% include "partials/proven-principles-partial.html" %}
{% include "partials/pricing-partial.html" with show_section_title=True grey_bg=True %}
{% include "partials/testimonials-v2-partial.html" %}
{% include "partials/faq-v2-partial.html" %}
{% include "partials/blog-partial.html" %}
{% endblock %}