{% extends "base.html" %}
{% block title %}Consultants - Venture Planner{% endblock %}

{% block content %}
{% include "partials/hero-elite.html" %}
{% include "partials/about-consultants-partial.html" %}
{% include "partials/our-services-partial.html" %}
{% include "partials/why-choose-elite-partial.html" %}
{% include "partials/our-story-elite-partial.html" %}
{% include "partials/pricing-partial.html" %}
{% include "partials/testimonials-v2-partial.html" %}
{% include "partials/why-choose-partial.html" %}
{% endblock %}
