{% extends "base.html" %}

{% block title %}Home - Venture Planner{% endblock %}

{% block content %}
{% include "partials/homepage-hero-partial.html" %}
{% include "partials/about-partial.html" %}
{% include "partials/services-partial.html" %}
{% include "partials/why-choose-elite-partial.html" %}
{% include "partials/our-story-elite-partial.html" %}
{% include "partials/pricing-partial.html" with show_section_title=True %}
{% include "partials/support-partial.html" %}
{% include "partials/faqs-partial.html" %}
{% include "partials/testimonials-partial.html" %}
{% include "partials/blog-partial.html" %}
{% endblock %}