{% extends "base.html" %}

{% block title %}Marketing plans - Venture Planner{% endblock %}

{% block content %}
{% include "partials/marketing-hero-partial.html" %}
{% include "partials/about-us-marketing-partial.html" %}
{% include "partials/multi-channel-marketing-partial.html" %}
{% include "partials/actionable-planning-partial.html" %}
{% include "partials/intro-video-box-partial.html" %}
{% include "partials/our-plans-partial.html" %}
{% include "partials/how-it-works-marketing-partial.html" %}
{% include "partials/created-by-experts-partial.html" %}
{% include "partials/our-creative-engine-partial.html" %}
{% include "partials/marketing-testimonials-partial.html" %}
{% include "partials/pricing-partial.html" %}
{% endblock %}