{% load static %}
<header class="main-header active-sticky-header">
    <div class="header-sticky bg-section">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo">
                    <img class="sticky-visible" src="{% static 'images/logo-inverted.svg' %}" alt="Logo">
                </a>
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a>
                                <li class="nav-item"><a class="nav-link" href="{% url 'business-plans' %}">Business Plans</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'marketing-plans' %}">Marketing Plans</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
                            <li class="nav-item submenu"><a class="nav-link" href="#">Pages</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'service-single' %}">Service Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'case-study' %}">Case Study</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'case-study-single' %}">Case Study Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'team' %}">Our Team</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'team-single' %}">Team Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'pricing' %}">Pricing Plan</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'image-gallery' %}">Image Gallery</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'video-gallery' %}">Video Gallery</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'faq' %}">FAQs</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                    <!-- Header Btn Start -->

                          <div class="header-btn me-3">
                            <a class="btn-default btn-login btn-highlighted" href="https://app.ventureplanner.ai/sign_in">Login</a>
                        </div>

                        <div class="header-btn">
                            <a class="btn-default" href="https://app.ventureplanner.ai/business_register">Start Free Trial</a>
                        </div>

                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>