{% load static %}
<header class="main-header header-elite active-sticky-header">
    <div class="header-sticky bg-section">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="{% static 'home' %}">
                    <img src="{% static 'images/logo-white.svg' %}" alt="Logo">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item"><a class="nav-link" href="{% static 'home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% static 'about' %}">About Us</a>
                            <li class="nav-item"><a class="nav-link" href="{% static 'business-plans' %}">Business Plans</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% static 'marketing-plans' %}">Marketing Plans</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% static 'blog' %}">Blog</a></li>
                            <li class="nav-item submenu"><a class="nav-link" href="#">Pages</a>
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'service-single' %}">Service
                                        Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'blog-single' %}">Blog Details</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'case-study' %}">Case Study</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'case-study-single' %}">Case Study
                                        Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'team' %}">Our Team</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'team-single' %}">Team Details</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'pricing' %}">Pricing Plan</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'testimonials' %}">Testimonials</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'image-gallery' %}">Image Gallery</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'video-gallery' %}">Video Gallery</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% static 'faqs' %}">FAQs</a></li>
                                    <li class="nav-item"><a class="nav-link"href="{% static '404' %}">404</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% static 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>

                    <!-- Header Btn Start -->
                    <div class="header-btn">
                        <a class="btn-default-elite btn-highlighted-elite" href="{% static 'contact' %}">Contact Us</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>